
{% extends 'base.html.twig' %}

{% block main %}
    {{ parent() }}
        <br>
        <p>Random number by lucky controller___ 
        <div style="color: #00f;">{{ number }}</div> </p>

        <div class="painted" > is_callable($number) = {{number}}<div>
        <br>
{% endblock %}

